{% extends 'base.html' %}
{% block content %}
<h4 class="mb-4 text-center">Cadastro no AlertaAi</h4>
<form method="post">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" name="nome" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail:</label>
        <input type="email" class="form-control" name="email" required>
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha:</label>
        <input type="password" class="form-control" name="senha" required>
    </div>
    <button type="submit" class="btn btn-success w-100">Cadastrar</button>
    <p class="mt-3 text-center">Já tem conta? <a href="{{ url_for('login') }}">Entrar</a></p>
</form>
{% endblock %}
